<div class="container">
  <form action="/articulo/update/<%=articulo.id%>" method="POST" accept-charset="utf-8" class="form-singin">
    <label>AGREGANDO ARTICULO</label>
    <input type="text" name="titulo" class="form-control" value="<%= articulo.titulo%>" required>
  </br>
  <input type="submit">
</form>
</div>
