
<div class="container">
  <h1 class= 'lang' key='articulos'></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Resumen</th>
        <th scope="col">Ver</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < articulos.length; i++) { %>
         <tr>
           <td><%= articulos[i].titulo %></td>
           <td><%= articulos[i].resumen %></td>
         </tr>
      <% } %>
    </tbody>
  </table>



</table>
</div>
