<div class="container">
</br>
</br>
<!--
</br>
</br>
<form id="uploadForm" enctype="multipart/form-data" action="/file/upload" method="post">
      <input type="file" name="uploadFile" />
      <input type="submit" value="submit"/>
</form>
-->
</br>
</br>
  <form id="uploadForm" enctype="multipart/form-data" action="/articulo/create" method="POST" accept-charset="utf-8" class="form-singin">
    <label>Título</label>
    <input type="text" name="titulo" class="form-control" required>
    </br>
    <label>Resumen</label>
    <textarea  name="resumen" class="text" cols="100" rows ="10" required></textarea>
    </br>
    </br>
    <label>Contenido</label>
    <textarea  name="contenido" class="text" cols="100" rows ="20" required></textarea>
    </br>
    </br>
    <label>SUBA SU ARCHIVO</label>
    <input type="file" name="uploadFile" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </br>
  <input type="submit" value="submit">
</form>

</br>
</br>
</br>
</br>
</div>
