<!-- Default home page -->
<h1>recuperando </h1>
<div class="container">
  <form action="/session/secretCode" method="POST" accept-charset="utf-8" class="form-singin">
    <label>Ingrese el código secreto que le ha llegado a su mail</label>
    <input type="text" name="secretCode" class="form-control" required>
  </br>
  <input type="submit">
</form>
</div>
