<!-- Default home page -->
<h1 class= 'lang' key='preguntas'></h1>

  <div class="main container clearfix">
    <ul class="getting-started">

      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>
            PREGUNTA 1
          </h3>
        </div>
      </li>

      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            PREGUNTA 2
          </h3>
        </div>
      </li>

      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            PREGUNTA 3
          </h3>
        </div>
      </li>

      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            PREGUNTA 4
          </h3>
        </div>
      </li>

      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            PREGUNTA 5
          </h3>
        </div>
      </li>


    </ul>

  </div>
</div>
