<!-- Default home page -->
<h1>NEW CLAVE </h1>
<div class="container">
  <form action="/session/recovery" method="POST" accept-charset="utf-8" class="form-singin">
    <label>Ingrese su Nueva contraseña</label>
    <input type="text" name="password" class="form-control" required>
  </br>
  <label>Confirmación de contraseña</label>
  <input type="text" name="passwordConfirmation" class="form-control" required>
</br>
  <input type="submit">
</form>
</div>
