<!-- Default home page -->
<h1>recuperando </h1>
<div class="container">
  <form action="/session/recovery" method="POST" accept-charset="utf-8" class="form-singin">
    <label>Ingrese su email</label>
    <input type="text" name="email" class="form-control" required>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </br>
  <input type="submit">
</form>
</div>
<p>Luego de enviar la solicitud debes revisar tu email.<p>
