<div class="container">
<h1 class= 'lang' key='nuevo usuario'></h1>



  <form action="/user/create" method="POST" accept-charset="utf-8" class="form-singin">
    <label>Name</label>
    <input type="text" name="name" class="form-control" required>
    </br>
    <label>Email</label>
    <input type="text" name="email" class="form-control" required>
    </br>
    
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </br>
  <input type="submit">
</form>
</div>
