<div class="container">
<h2>información usuario</h2>
<ul>
  <li>
    <%= user.name %>
  </li>
</ul>

<form action="/user/edit/<%=User.id%>" method="POST" accept-charset="utf-8">
    <button type="submit" class="btn btn-success" > EDITAR </button>
</form>

</div>
